33/WindowsClient/WindowsClient/Service References/SimpleService/SimpleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SimpleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ISimpleService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8090/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8090/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISimpleService_RequestReplyOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestReplyOperation" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_RequestReplyOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestReplyOperationResponse" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_RequestReplyOperation_ThrowsException_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestReplyOperation_ThrowsException" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_RequestReplyOperation_ThrowsException_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestReplyOperation_ThrowsExceptionResponse" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_OneWayOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:OneWayOperation" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_OneWayOperation_ThrowsException_InputMessage">
    <wsdl:part name="parameters" element="tns:OneWayOperation_ThrowsException" />
  </wsdl:message>
  <wsdl:portType name="ISimpleService">
    <wsdl:operation name="RequestReplyOperation">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleService/RequestReplyOperation" message="tns:ISimpleService_RequestReplyOperation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpleService/RequestReplyOperationResponse" message="tns:ISimpleService_RequestReplyOperation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestReplyOperation_ThrowsException">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleService/RequestReplyOperation_ThrowsException" message="tns:ISimpleService_RequestReplyOperation_ThrowsException_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpleService/RequestReplyOperation_ThrowsExceptionResponse" message="tns:ISimpleService_RequestReplyOperation_ThrowsException_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OneWayOperation">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleService/OneWayOperation" message="tns:ISimpleService_OneWayOperation_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OneWayOperation_ThrowsException">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleService/OneWayOperation_ThrowsException" message="tns:ISimpleService_OneWayOperation_ThrowsException_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ISimpleService" type="tns:ISimpleService">
    <wsp:PolicyReference URI="#NetTcpBinding_ISimpleService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RequestReplyOperation">
      <soap12:operation soapAction="http://tempuri.org/ISimpleService/RequestReplyOperation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestReplyOperation_ThrowsException">
      <soap12:operation soapAction="http://tempuri.org/ISimpleService/RequestReplyOperation_ThrowsException" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OneWayOperation">
      <soap12:operation soapAction="http://tempuri.org/ISimpleService/OneWayOperation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="OneWayOperation_ThrowsException">
      <soap12:operation soapAction="http://tempuri.org/ISimpleService/OneWayOperation_ThrowsException" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SimpleService">
    <wsdl:port name="NetTcpBinding_ISimpleService" binding="tns:NetTcpBinding_ISimpleService">
      <soap12:address location="net.tcp://localhost:8100/SimpleService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8100/SimpleService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>Red-Lapos\Red</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>