43/WindowsFormsClient/WindowsFormsClient/Service References/SimpleService/SimpleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SimpleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8090/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8090/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8090/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISimpleService_GetEvenNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEvenNumbers" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_GetEvenNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEvenNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_GetOddNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOddNumbers" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_GetOddNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOddNumbersResponse" />
  </wsdl:message>
  <wsdl:portType name="ISimpleService">
    <wsdl:operation name="GetEvenNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleService/GetEvenNumbers" message="tns:ISimpleService_GetEvenNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpleService/GetEvenNumbersResponse" message="tns:ISimpleService_GetEvenNumbers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOddNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleService/GetOddNumbers" message="tns:ISimpleService_GetOddNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpleService/GetOddNumbersResponse" message="tns:ISimpleService_GetOddNumbers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISimpleService" type="tns:ISimpleService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEvenNumbers">
      <soap:operation soapAction="http://tempuri.org/ISimpleService/GetEvenNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOddNumbers">
      <soap:operation soapAction="http://tempuri.org/ISimpleService/GetOddNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SimpleService">
    <wsdl:port name="BasicHttpBinding_ISimpleService" binding="tns:BasicHttpBinding_ISimpleService">
      <soap:address location="http://localhost:8090/SimpleService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>