07 - KnownType attribute/Client/Client/Service References/EmployeeService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EntityLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EntityLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8090/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:8090/?xsd=xsd2" namespace="http://pragimtech.com/Employee" />
  <xs:simpleType name="EmployeeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FullTimeEmployee">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PartTimeEmployee">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EmployeeType" nillable="true" type="tns:EmployeeType" />
  <xs:complexType name="FullTimeEmployeeEntity">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://pragimtech.com/Employee" base="q1:EmployeeEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="AnnualSalary" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FullTimeEmployeeEntity" nillable="true" type="tns:FullTimeEmployeeEntity" />
  <xs:complexType name="PartTimeEmployeeEntity">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://pragimtech.com/Employee" base="q2:EmployeeEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="HourlyPay" type="xs:int" />
          <xs:element minOccurs="0" name="HoursWorked" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PartTimeEmployeeEntity" nillable="true" type="tns:PartTimeEmployeeEntity" />
</xs:schema>