09/Client/Client/Service References/EmployeeService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://pragimtech.com/Employee" elementFormDefault="qualified" targetNamespace="http://pragimtech.com/Employee" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8090/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EntityLayer" />
  <xs:complexType name="EmployeeEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EntityLayer" minOccurs="0" name="Type" type="q1:EmployeeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeEntity" nillable="true" type="tns:EmployeeEntity" />
</xs:schema>